.w-100 {
    width: 100%;
  }
  
  .w-50 {
    width: 50%;
  }
  
  .w-25 {
    width: 25%;
  }
  
  .ingredient-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  .ingredient-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .edit-recipe__button {
    background-color: #3f51b5;
    color: #fff;
    margin-bottom: 30px;
  }