<div class="container-fluid py-1 py-xl-4" id="main_menu_duos89">
  <div class="container">
    <div class="duos__logo-container">
      <a routerLink="/">
        <img src="assets/images/duos_logo.png" alt="Logo Principal"
      /></a>
    </div>
    <div class="duos__menu-container">
      <div class="duos__menu-container--element">
        <a routerLink="/shop" routerLinkActive="active" class="duos__normal-link"><span>Tienda</span></a>
      </div>
      <div class="duos__menu-container--element">
        <a routerLink="/cart" routerLinkActive="active"  class="duos__normal-icon"><i class="material-icons">shopping_cart</i></a>
      </div>
      <div class="duos__menu-container--element">
        <a routerLink="/login" routerLinkActive="active"  class="duos__normal-icon"><i class="material-icons">person</i></a>
      </div>
    </div>
  </div>
</div>
