<h2 mat-dialog-title>Editar Producto</h2>
<form [formGroup]="editProductForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Título</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div formArrayName="ingredients">
      <h3>Ingredientes</h3>
      <div
        *ngFor="let ingredient of ingredients.controls; let i = index"
        [formGroupName]="i"
        class="ingredient-group"
      >
      <div class="ingredient-list__element">
        <mat-form-field appearance="outline" class="w-50">
          <mat-label>Nombre del Ingrediente</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-25">
          <mat-label>Cantidad</mat-label>
          <input matInput formControlName="quantity" type="number" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-25">
          <mat-label>Unidad</mat-label>
          <input matInput formControlName="unit" />
        </mat-form-field>
      </div>
        <!-- Button to remove the ingredient -->
        <button
          mat-icon-button
          style="color:red;"
          color="warn"
          (click)="removeIngredient(i)"
          [disabled]="ingredients.length === 1"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <!-- Button to add a new ingredient -->
      <button mat-raised-button color="primary" (click)="addIngredient()" class="add-ingredient__button">
        <mat-icon>add</mat-icon> Agregar Ingrediente
      </button>
    </div>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Precio</mat-label>
      <input matInput formControlName="price" type="number" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Stock</mat-label>
      <input matInput formControlName="stock" type="number" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Imagen</mat-label>
      <input matInput formControlName="image" />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="editProductForm.invalid">
      Guardar
    </button>
  </mat-dialog-actions>
</form>

